{
  -fx-background-image: url("../ButtonsImages/goback.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 65 65;
  -fx-background-position: center center;
}

:pressed {
  -fx-background-image: url("../ButtonsImages/goback.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 73 73;
  -fx-background-position: center center;

}

:focused {
  -fx-background-image: url("../ButtonsImages/goback.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 70 70;
  -fx-background-position: center center;

}