{
    -fx-background-image: url("../ButtonsImages/save.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 75 75;
    -fx-background-position: center center;
}

:pressed {
  -fx-background-image: url("../ButtonsImages/save.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 86 86;
  -fx-background-position: center center;

}

:focused {
  -fx-background-image: url("../ButtonsImages/save.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 80 80;
  -fx-background-position: center center;

}